<div class="">
    <section class="education-page section-padding">
        <div class="inner-container">
            <h2 class="section-title">Education & Certifications</h2>
            <p class="section-subtitle">My learning journey & credentials</p>

            <div class="section-divider"></div>



            <section class="about-me-section">
                <div class="row col-12">
                    <div class="certificates-wrapper">
                        <div class="certificate-card">
                            <div class="main-border">
                                <div class="child-border">
                                    <span class="corner tl"></span>
                                    <span class="corner tr"></span>
                                    <span class="corner bl"></span>
                                    <span class="corner br"></span>

                                    <h2>Manipal University Jaipur</h2>
                                    <h3>Master of Computer Applications</h3>
                                    <h4>(MCA)</h4>
                                    <img src="images/images.jpg" alt="Logo">
                                    <p class="edu-year">2025 – 2027</p>
                                    <p class="edu-status">Pursuing</p>
                                </div>
                            </div>
                        </div>
                        <div class="certificate-card">
                            <div class="main-border">
                                <div class="child-border">
                                    <span class="corner tl"></span>
                                    <span class="corner tr"></span>
                                    <span class="corner bl"></span>
                                    <span class="corner br"></span>

                                    <h2>Bundelkhand University</h2>
                                    <h3>Bachelor of Arts</h3>
                                    <h4>(BA)</h4>
                                    <!-- <img src="images/images.jpg" alt="Logo"> -->
                                    <div class="edu-icon" style="font-size: 4rem;">📘</div>
                                    <p class="edu-year">2021 – 2024</p>
                                    <p class="edu-status">Completed | CGPA: 6.69</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about-me-section">
                <div class="row col-12">
                    <div class="certificates-wrapper">
                        <div class="certificate-card">
                            <div class="main-border">
                                <div class="child-border">
                                    <span class="corner tl"></span>
                                    <span class="corner tr"></span>
                                    <span class="corner bl"></span>
                                    <span class="corner br"></span>

                                    <h2>SVM Inter College</h2>
                                    <h3>Intermediate</h3>
                                    <!-- <img src="images/images.jpg" alt="Logo"> -->
                                    <div class="edu-icon" style="font-size: 4rem;">🏫</div>
                                    <p class="edu-year">2019 – 2020</p>
                                    <p class="edu-status">Completed | 73%</p>
                                </div>
                            </div>
                        </div>
                        <div class="certificate-card">
                            <div class="main-border">
                                <div class="child-border">
                                    <span class="corner tl"></span>
                                    <span class="corner tr"></span>
                                    <span class="corner bl"></span>
                                    <span class="corner br"></span>

                                    <h2>SVM Inter College</h2>
                                    <h3>High School</h3>
                                    <!-- <img src="images/images.jpg" alt="Logo"> -->
                                    <div class="edu-icon" style="font-size: 4rem;">📖</div>
                                    <p class="edu-year">2017 – 2018</p>
                                    <p class="edu-status">Completed | 83%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <div class="section-divider"></div>

            <div class="cert-section">
                <h3 class="cert-title">Certifications</h3>
                <p class="cert-subtitle">Verified Credentials</p>

                <div class="cert-grid">
                    <div class="cert-card">
                        <h4>{{certifications[0].title}}</h4>
                        <p class="cert-org">{{certifications[0].org}}</p>
                        <div class="cert-details">
                            <p><strong>Issued:</strong> {{certifications[0].issued}}</p>
                            <p><strong>Credential ID:</strong> {{certifications[0].id}}</p>
                        </div>
                        <a href="{{certifications[0].link}}" target="_blank" class="cert-link">
                            Show Credential
                        </a>
                    </div>
                    <div class="cert-card">
                        <h4>{{certifications[1].title}}</h4>
                        <p class="cert-org">{{certifications[1].org}}</p>
                        <div class="cert-details">
                            <p><strong>Issued:</strong> {{certifications[1].issued}}</p>
                            <p><strong>Credential ID:</strong> {{certifications[1].id}}</p>
                        </div>
                        <a href="{{certifications[1].link}}" target="_blank" class="cert-link">
                            Show Credential
                        </a>
                    </div>
                </div>
                <a routerLink="/overview/contact" (click)="open()" class="btn btn-gradient-secondary mt-5">Check
                    All Certification</a>
            </div>

        </div>
    </section>
</div>

<app-certification></app-certification>