<div class="header">
  <div class="nav">
    <div class="logo mx-lg-5" routerLink="/">Aman Tripathi</div>

    <div class="hamburger" (click)="toggleNav()">
      <i class="fas" [class.fa-bars]="!navOpen" [class.fa-times]="navOpen"></i>
    </div>

    <div class="nav-items" [class.open]="navOpen">
      <div class="nav-item" routerLink="about" routerLinkActive="active-nav-item" (click)="closeNav()">About</div>
      <div class="nav-item" routerLink="education" routerLinkActive="active-nav-item" (click)="closeNav()">Education</div>
      <div class="nav-item" routerLink="projects" routerLinkActive="active-nav-item" (click)="closeNav()">Projects</div>
      <div class="nav-item" routerLink="skills" routerLinkActive="active-nav-item" (click)="closeNav()">Skills</div>
      <div class="nav-item" routerLink="experience" routerLinkActive="active-nav-item" (click)="closeNav()">Experience</div>
      <div class="nav-item" routerLink="contact" routerLinkActive="active-nav-item" (click)="closeNav()">Contact</div>

      <div class="theme-toggle" (click)="toggleDarkMode()">
        <span class="fs-1">
            <i class="fas" [class.fa-moon]="!isDarkMode" [class.fa-sun]="isDarkMode"></i>
        </span>
      </div>
    </div>
  </div>
</div>




<div class="" style="margin-top: 80px;">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <!-- <div class="footer-container">

    <div class="footer-section contact">
      <h3>Contact</h3>
      <p>Email: support&#64;queuecut.com</p>
      <p>Phone: +1 (800) 555-QUEUE</p>
    </div>
  </div> -->
  
  <div class="footer-bottom">
    <p class="fs-4">&copy; 2025 Aman Tripathi. All Rights Reserved.</p>
  </div>
</footer>
